<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/styleRegister.css">
    <title><%= title %></title>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>

    <form action="/agenda/creer" method="POST">
        <label for="nom">Nom de l'agenda:</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <div style="display: none;">
            <label for="createurEmail">Email du créateur:</label>
            <input type="email" id="createurEmail" name="createurEmail" value="<%= userEmailConnected %>" style="background-color: lightgrey;" readonly required>
        </div>

        <label for="couleur">Choisissez une couleur :</label>
        <select id="couleur" name="couleur" required>
            <option value="">Sélectionnez une couleur</option>
            <option value="0">Rouge</option>
            <option value="1">Bleu</option>
            <option value="2">Vert</option>
            <option value="3">Jaune</option>
            <option value="4">Noir</option>
            <option value="5">Blanc</option>
            <option value="6">Violet</option>
            <option value="7">Orange</option>
        </select>
        <br><br>
        <button type="submit">Créer Agenda</button>
    </form>

    <form action="/agenda/import" method="POST" enctype="multipart/form-data" class="import-form">
        <h2>Ou importez un agenda existant</h2>
        <input type="file" id="file" name="file" accept=".json" required>
        <button type="submit">Importer</button>
    </form>

    <br><br>
    <button type="button" onclick="window.location.href='/agenda';">Annuler</button>
</div>
</body>
</html>