<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="flex flex-col items-center justify-center relative">
    <div class="flex w-full justify-center items-center absolute -top-32 -z-10">
        <svg class="" width="768" height="736" viewBox="0 0 768 736" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_5036_374506" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-32" width="768"
                  height="768">
                <rect width="768" height="768" transform="translate(0 -32)" fill="url(#paint0_radial_5036_374506)"/>
            </mask>
            <g mask="url(#mask0_5036_374506)">
                <g clip-path="url(#clip0_5036_374506)">
                    <g clip-path="url(#clip1_5036_374506)">
                        <line x1="0.5" y1="-32" x2="0.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="48.5" y1="-32" x2="48.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="96.5" y1="-32" x2="96.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="144.5" y1="-32" x2="144.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="192.5" y1="-32" x2="192.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="240.5" y1="-32" x2="240.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="288.5" y1="-32" x2="288.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="336.5" y1="-32" x2="336.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="384.5" y1="-32" x2="384.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="432.5" y1="-32" x2="432.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="480.5" y1="-32" x2="480.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="528.5" y1="-32" x2="528.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="576.5" y1="-32" x2="576.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="624.5" y1="-32" x2="624.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="672.5" y1="-32" x2="672.5" y2="736" stroke="#E4E7EC"/>
                        <line x1="720.5" y1="-32" x2="720.5" y2="736" stroke="#E4E7EC"/>
                    </g>
                    <rect x="0.5" y="-31.5" width="767" height="767" stroke="#E4E7EC"/>
                    <g clip-path="url(#clip2_5036_374506)">
                        <line y1="15.5" x2="768" y2="15.5" stroke="#E4E7EC"/>
                        <line y1="63.5" x2="768" y2="63.5" stroke="#E4E7EC"/>
                        <line y1="111.5" x2="768" y2="111.5" stroke="#E4E7EC"/>
                        <line y1="159.5" x2="768" y2="159.5" stroke="#E4E7EC"/>
                        <line y1="207.5" x2="768" y2="207.5" stroke="#E4E7EC"/>
                        <line y1="255.5" x2="768" y2="255.5" stroke="#E4E7EC"/>
                        <line y1="303.5" x2="768" y2="303.5" stroke="#E4E7EC"/>
                        <line y1="351.5" x2="768" y2="351.5" stroke="#E4E7EC"/>
                        <line y1="399.5" x2="768" y2="399.5" stroke="#E4E7EC"/>
                        <line y1="447.5" x2="768" y2="447.5" stroke="#E4E7EC"/>
                        <line y1="495.5" x2="768" y2="495.5" stroke="#E4E7EC"/>
                        <line y1="543.5" x2="768" y2="543.5" stroke="#E4E7EC"/>
                        <line y1="591.5" x2="768" y2="591.5" stroke="#E4E7EC"/>
                        <line y1="639.5" x2="768" y2="639.5" stroke="#E4E7EC"/>
                        <line y1="687.5" x2="768" y2="687.5" stroke="#E4E7EC"/>
                        <line y1="735.5" x2="768" y2="735.5" stroke="#E4E7EC"/>
                    </g>
                    <rect x="0.5" y="-31.5" width="767" height="767" stroke="#E4E7EC"/>
                </g>
            </g>
            <defs>
                <radialGradient id="paint0_radial_5036_374506" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(384 384) rotate(90) scale(384 384)">
                    <stop/>
                    <stop offset="1" stop-opacity="0"/>
                </radialGradient>
                <clipPath id="clip0_5036_374506">
                    <rect width="768" height="768" fill="white" transform="translate(0 -32)"/>
                </clipPath>
                <clipPath id="clip1_5036_374506">
                    <rect y="-32" width="768" height="768" fill="white"/>
                </clipPath>
                <clipPath id="clip2_5036_374506">
                    <rect y="-32" width="768" height="768" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>

    <div class="flex flex-col items-center relative z-10 pt-48">
        <div class="p-3.5 border border-primary w-fit rounded-lg bg-white shadow-xs-skeuomorphic">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 8.99994C17 8.48812 16.8047 7.9763 16.4142 7.58579C16.0237 7.19526 15.5118 7 15 7M15 15C18.3137 15 21 12.3137 21 9C21 5.68629 18.3137 3 15 3C11.6863 3 9 5.68629 9 9C9 9.27368 9.01832 9.54308 9.05381 9.80704C9.11218 10.2412 9.14136 10.4583 9.12172 10.5956C9.10125 10.7387 9.0752 10.8157 9.00469 10.9419C8.937 11.063 8.81771 11.1823 8.57913 11.4209L3.46863 16.5314C3.29568 16.7043 3.2092 16.7908 3.14736 16.8917C3.09253 16.9812 3.05213 17.0787 3.02763 17.1808C3 17.2959 3 17.4182 3 17.6627V19.4C3 19.9601 3 20.2401 3.10899 20.454C3.20487 20.6422 3.35785 20.7951 3.54601 20.891C3.75992 21 4.03995 21 4.6 21H7V19H9V17H11L12.5791 15.4209C12.8177 15.1823 12.937 15.063 13.0581 14.9953C13.1843 14.9248 13.2613 14.8987 13.4044 14.8783C13.5417 14.8586 13.7588 14.8878 14.193 14.9462C14.4569 14.9817 14.7263 15 15 15Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <h1 class="text-primary text-3xl font-semibold text-center mt-6">Mot de passe oublié</h1>
        <% if (error) { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>
        <form action="/users/forgot-password" method="POST" class="mt-6 max-w-sm w-full space-y-6">
            <div class="flex flex-col gap-1.5">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="border border-primary rounded-lg placeholder-primary" placeholder="Email" required>
            </div>

            <div class="space-y-3">
                <button class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Envoyer le lien de réinitialisation</button>
                <a class="w-full block py-2.5 px-5 text-center text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" href="/">Retour à la connexion</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>

