<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="container-home-page">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
    <div>
        <form action="/users/login" method="GET">
            <button type="submit">Se connecter</button>
        </form>
        <form action="/users/register" method="GET">
            <button type="submit">Créer un compte</button>
        </form>
    </div>
</body>
</html>