<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/stylesheets/styleRegister.css">
</head>
<body>
    <div style="display: inline-grid;">
        <div>
            <h1 style="color:rgb(78, 78, 78); font-family: Brush Script MT, Brush Script Std, cursive; font-size: xxx-large;">
                "Organisez votre vie facilement : des agendas sur mesure, pensées juste pour vous, avec notre application"
            </h1>
        </div>
        <div class="container" style="place-self: center;">
            <h1>Connexion</h1>
            
            <form action="/users/login" method="post">
                <% if (typeof error !== 'undefined' && error) { %>
                    <div class="error-message">
                        <%= error %>
                    </div>
                <% } %>
                
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Se connecter</button>
            </form>
            <p>Vous n'avez pas de compte ? <a href="/users/register">Créer un compte</a>
            <br><br>
            <a href="/users/forgot-password">Mot de passe oublié ?</a></p>
        </div>
    </div>
</body>
</html>