<%- include('partials/header') %>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau Mot de passe</title>
    <link rel="stylesheet" href="/stylesheets/styleRegister.css">
</head>
<body>
    <div class="container">
        <h1>Nouveau Mot de passe</h1>
        <% if (error) { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>

        <% if (linkExpired) { %>
            <div class="expired-message">
                <p>Le lien de réinitialisation que vous avez utilisé n'est plus valide.</p>
                <div class="actions">
                    <a href="/users/forgot-password" class="button">Demander un nouveau lien</a>
                </div>
            </div>
        <% } else { %>
            <form action="/users/reset-password/<%= token %>" method="POST">
                <div>
                    <label for="password">Nouveau password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <label for="confirmPassword">Confirme le Nouveau password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit">Envoyer le Nouveau mot de passe</button>
            </form>
        <% } %>
        <a href="/users/login">Retour à la connexion</a>
    </div>
</body>
</html>
<%- include('partials/footer') %>