body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(221, 221, 221), #f0efef, rgb(235, 234, 234));
    min-height: 6000px;
}

.container {
    place-self: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 10%;
}

.container2 {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 10%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.all_recurence{
    display: flex;
}

.all_recurence_2{
    display: flex;   
    margin-top: -17%;
}

.all_recurence_label{
    margin-bottom: 0px;
    margin-left: 2%;
}

.list-members{
    height: fit-content;
    overflow: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: rgb(63, 61, 65);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: rgb(85, 85, 85);
}

.error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: rgb(177, 176, 176);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-header{
    background-color: black; /* Fond blanc pour contraste */
}

.menu{
    display: flex;
    list-style: none;
  }

.compte{
    display: ruby;
    position: absolute;
    right: 20px; 
    padding-top: 0.5%;
  }

.agenda{
    display: ruby;
  }

.header{
    background-color:rgb(60 60 60);
    box-shadow: 14px -8px 0 26px rgb(60 60 60);
}

.title-header{
    color: #eeeeee;
}

.email{
    color: #eeeeee;
}

