body{
    background: linear-gradient(to bottom right, rgb(0, 188, 212), #4ae2c3, rgb(0, 188, 212));
    background-size: cover;
    background-attachment: fixed;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    overflow: auto;
    column-gap: 5px;
}

.view-switch {
    display: inline-flex;
}

.nom-rendez-vous{
    scrollbar-width: none;
    overflow-y: auto;
}

.day-cell {
    background-color: #f3f3f3;
    height: 100px;
    width: 100%;
    position: relative;
    display: inline-flex;
    position: relative;
    overflow: visible; 
    border-bottom: 2px dotted #e0e0e0;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Style de base pour toutes les classes rendez-vous-cell */
[class^="rendez-vous-cell"] {
    border: 1px solid;
    text-align: center;
    position: relative;
    z-index: 10;
    min-height: 100px;
    white-space: nowrap; 
}

ul{
    list-style-type: none; 
    display: contents;
  }


button {
    background-color: rgb(3, 196, 221);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(4, 170, 192);
}


.day-cell-hidden{
    background-color: transparent;
    border-bottom: 2px dotted #747474;
    border-image: repeating-linear-gradient(
    to right,
    #f3f3f3 0,
    #f3f3f3 5px,
    transparent 5px,
    transparent 10px
    )1;
}

.info{
    display: block;
}

.agenda{
    display: ruby;
}

.right-rendezvous{
    display: block;
    padding-left: 1%;
    background-color: white;
    margin-top: -9px;
    width: 100%;
}

.rendezvous{
    display: flex;
}

h1{
    text-align: center;
}


.action-rendez-vous{
    display: flex;
    justify-content: space-evenly;
}

.up-mes-agendas{
    width: 20%;
    border-right: 1px solid silver;
    background-color: white;
    box-shadow: -10px 0px 0px 9px white; /* Ombre légèrement bleue */
}

.mes-agendas{
    overflow: auto;
}

.hour-label{
    border-bottom: 2px dotted #747474;
    border-image: repeating-linear-gradient(
    to right,
    #f3f3f3 0,
    #f3f3f3 5px,
    transparent 5px,
    transparent 10px
    )1;
}



.nav{
    background-color: #89e22b;
}

/* Couleurs spécifiques */
.rendez-vous-cell0 { background-color: hsl(0, 85%, 65%); color: #1f1e1e; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 5px;max-width: 200px }
.rendez-vous-cell1 { background-color: #4785e2; color: #181616; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 10px; max-width: 200px}
.rendez-vous-cell2 { background-color: hsl(120, 73%, 63%); color: #181a18; border-color: #1f1e1e;place-content: center;width: min-content  ; border-radius : 5px; max-width: 200px}
.rendez-vous-cell3 { background-color: #fffc41; color: #1b1b1a; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 5px; max-width: 200px}
.rendez-vous-cell4 { background-color: #945036; color: #181717; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 5px; max-width: 200px}
.rendez-vous-cell5 { background-color: #2c2a2a; color: #f7f7f7; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 5px; max-width: 200px}
.rendez-vous-cell6 { background-color: #df46f3; color: #221e1a; border-color: #1f1e1e; place-content: center;width: min-content ; border-radius : 5px; max-width: 200px}
.rendez-vous-cell7 { background-color: #ffa631; color: #040b14; border-color: #1f1e1e; place-content: center;width: min-content s; border-radius : 5px;max-width: 200px }
  

input[type="checkbox"] {
    appearance: none; /* Remove native styling */
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Optional for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked.checkbox-couleur-0{ background-color: hsl(0, 85%, 65%);}
input[type="checkbox"]:checked.checkbox-couleur-1{background-color: #4785e2;}
input[type="checkbox"]:checked.checkbox-couleur-2{background-color: hsl(120, 73%, 63%);}
input[type="checkbox"]:checked.checkbox-couleur-3{background-color: #fffc41;}
input[type="checkbox"]:checked.checkbox-couleur-4{background-color: #945036;}
input[type="checkbox"]:checked.checkbox-couleur-5{background-color: #2c2a2a;}
input[type="checkbox"]:checked.checkbox-couleur-6{background-color: #df46f3;}
input[type="checkbox"]:checked.checkbox-couleur-7{background-color: #ffa631;}
